<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of movies</h1>
  <ul>
    <li *ngFor="let movie of movies">
      <h2 (click)="movieClicked(movie)">{{movie.title}}</h2>
    </li>
  </ul>
  <hr>
  Title <input type="text" [(ngModel)]="selectedMovie.title"/><br>
  Description <input type="text" [(ngModel)]="selectedMovie.desc"/><br>
  Year <input type="text" [(ngModel)]="selectedMovie.year"/><br>
  <button *ngIf="selectedMovie.id != -1" (click)="updateMovie()">PUT</button>
  <button *ngIf="selectedMovie.id == -1" (click)="createMovie(); getMovies()">POST</button>
  <button *ngIf="selectedMovie.id != -1" (click)="deleteMovie()">DELETE</button>
</body>
</html>