<header class="d-flex justify-content-center">
  <h1 >Movies App</h1>
</header>

<div class="d-flex">
  
    <form class="p-1">
      <h2 class="mb-3 mt-3">Add Movie</h2>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Title" name="title" [(ngModel)]="selectedMovie.title"/><br>
    
      </div>
    
      <div class="form-group">
        <textarea class="form-control"  type="text" placeholder="Description" name="desc" [(ngModel)]="selectedMovie.desc"></textarea><br>
    
      </div>
      <div class="form-group">
       <input class="form-control"  type="number" placeholder="Year" name="year" [(ngModel)]="selectedMovie.year"/><br>
    
      </div>

      <button class="btn btn-primary" *ngIf="selectedMovie.id != -1" (click)="updateMovie()">PUT</button>
      <button class="btn btn-primary" *ngIf="selectedMovie.id == -1" (click)="createMovie(); getMovies()">POST</button>
      <button class="btn btn-primary" *ngIf="selectedMovie.id != -1" (click)="deleteMovie()">DELETE</button>
    </form>
  
 
    <div class="vl"></div>
  

  <div class="movieList" >
    <h2 class="mb-3 mt-3">List of movies</h2>
    <ul class="list-group">
      <li class="list-group-item p-1" *ngFor="let movie of movies">
        <h3 (click)="movieClicked(movie)" class="onHover">{{movie.title}}</h3>
      </li>
    </ul>
  </div>
  
</div>